-
  var products = [
    {
      image: `${pathContentImg}photo-15.png`,
      alt: 'фото Ноутбук ASUS ZenBook Duo 14 UX482EG-HY010T',
      name: 'Ноутбук ASUS ZenBook Duo 14 UX482EG-HY010T',
      currentCost: '144 000 ₽',
      oldCost: '172 000 ₽',
      starsNumber: '4',
      reviewsNumber: '132 отзыва',
      delivery: 'Бесплатная доставка по России 2 года гарантии',
      isLike: false,
      isCharted: true,
      isHint: true,
      hintDiscount: 'скидка 20%',
      //- hintHit: 'Хит продаж',
      //- hintInstallments: 'РАССРОЧКА 0-0-24',
      isOutOfStock: true
    },

    {
      image: `${pathContentImg}photo-14.png`,
      alt: 'фото Смартфон Huawei Mate Xs Interstellar Blue (TAH-N29M)',
      name: 'Смартфон Huawei Mate Xs Interstellar Blue (TAH-N29M)',
      currentCost: '85 000 ₽',
      oldCost: '',
      starsNumber: '4',
      reviewsNumber: '12 отзывов',
      delivery: 'Доставка по всему миру 1 год гарантии',
      isLike: true,
      isCharted: false,
      isHint: true,
      hintHit: 'Хит продаж'
    },

    {
      image: `${pathContentImg}photo-13.png`,
      alt: 'фото Моноблок Apple iMac 24 M1/8/256 Purple (MGPM3RU/A)',
      name: 'Моноблок Apple iMac 24 M1/8/256 Purple (MGPM3RU/A)',
      currentCost: '149 000 ₽',
      oldCost: '',
      starsNumber: '5',
      reviewsNumber: '24 отзыва',
      delivery: 'Бесплатная доставка Расширенная гарантия AppleCare',
      isLike: true,
      isCharted: false,
      isHint: true,
      hintInstallments: 'РАССРОЧКА 0-0-24',
      isOutOfStock: false
    },

    {
      image: `${pathContentImg}photo-12.png`,
      alt: 'фото LED Телевизор Full HD LG 43LP50006LA',
      name: 'LED Телевизор Full HD LG 43LP50006LA',
      currentCost: '45 990 ₽',
      oldCost: '',
      starsNumber: '4',
      reviewsNumber: '26 отзывов',
      delivery: 'Бесплатная доставка 3 года бесплатного обслуживания',
      isLike: false,
      isCharted: false,
      isHint: false,
      isOutOfStock: false
    },

    {
      image: `${pathContentImg}photo-11.png`,
      alt: 'фото OLED телевизор 4K Ultra HD Sony KD-55AG9',
      name: 'OLED телевизор 4K Ultra HD Sony KD-55AG9',
      currentCost: '178 000 ₽',
      oldCost: '',
      starsNumber: '0',
      reviewsNumber: 'Нет отзывов',
      delivery: 'Доставка по всему миру 1 год гарантии',
      isLike: false,
      isCharted: false,
      isHint: false,
      isOutOfStock: false
    },

    {
      image: `${pathContentImg}photo-10.png`,
      alt: 'фото Смарт-часы Apple Watch Series 5 38mm (MTEY2RU/A)',
      name: 'Смарт-часы Apple Watch Series 5 38mm (MTEY2RU/A)',
      currentCost: '34 000 ₽',
      oldCost: '',
      starsNumber: '4',
      reviewsNumber: '7 отзывов',
      delivery: 'Бесплатная доставка по России 1 год гарантии',
      isLike: false,
      isCharted: false,
      isHint: false,
      isOutOfStock: false
    },

    {
      image: `${pathContentImg}photo-9.png`,
      alt: 'фото Ноутбук ASUS ZenBook Duo 14 UX482EG-HY010T',
      name: 'Ноутбук ASUS ZenBook Duo 14 UX482EG-HY010T',
      currentCost: '25 000 ₽',
      oldCost: '',
      starsNumber: '5',
      reviewsNumber: '132 отзыва',
      delivery: 'Бесплатная доставка Расширенная гарантия AppleCare',
      isLike: false,
      isCharted: false,
      isHint: false,
      isOutOfStock: false
    },

    {
      image: `${pathContentImg}photo-8.png`,
      alt: 'фото Моноблок Apple iMac 24 M1/8/256 Yellow (MGPM3RU/A)',
      name: 'Моноблок Apple iMac 24 M1/8/256 Yellow (MGPM3RU/A)',
      currentCost: '149 000 ₽',
      oldCost: '',
      starsNumber: '5',
      reviewsNumber: '12 отзывов',
      delivery: 'Бесплатная доставка Расширенная гарантия AppleCare',
      isLike: true,
      isCharted: false,
      isHint: true,
       hintInstallments: 'РАССРОЧКА 0-0-24',
      isOutOfStock: false
    },

    {
      image: `${pathContentImg}photo-7.png`,
      alt: 'фото Смарт браслет Samsung Galaxy Fit 2 White (SM-R220NZKACIS)',
      name: 'Смарт браслет Samsung Galaxy Fit 2 White (SM-R220NZKACIS)',
      currentCost: '2 800 ₽',
      oldCost: '',
      starsNumber: '4',
      reviewsNumber: '164 отзыва',
      delivery: 'Бесплатная доставка',
      isLike: false,
      isCharted: true,
      isHint: true,
      hintHit: 'Хит продаж',
      isOutOfStock: false
    },

    {
      image: `${pathContentImg}photo-6.png`,
      alt: 'фото Планшет Apple iPad Pro 11 (2020) 128 GB Space Grey (MY2V2RU/A)',
      name: 'Планшет Apple iPad Pro 11 (2020) 128 GB Space Grey (MY2V2RU/A)',
      currentCost: '72 000 ₽',
      oldCost: '',
      starsNumber: '4',
      reviewsNumber: '22 отзыва',
      delivery: 'Бесплатная доставка',
      isLike: true
    },

    {
      image: `${pathContentImg}photo-5.png`,
      alt: 'фото Беспроводные наушники Apple AirPods 2 White (MRXJ2RU/A)',
      name: 'Беспроводные наушники Apple AirPods 2 White (MRXJ2RU/A)',
      currentCost: '11 000 ₽',
      oldCost: '14 300 ₽',
      starsNumber: '4',
      reviewsNumber: '18 отзывов',
      delivery: 'Бесплатная доставка по России',
      isLike: false,
      isCharted: false,
      isHint: true,
      hintDiscount: 'скидка 30%',
      //- hintHit: 'Хит продаж',
      //- hintInstallments: 'РАССРОЧКА 0-0-24',
      isOutOfStock: false
    },

    {
      image: `${pathContentImg}photo-4.png`,
      alt: 'фото Смартфон Samsung Galaxy S20 Ultra 12/128GB (SM-G988BZADSER)',
      name: 'Смартфон Samsung Galaxy S20 Ultra 12/128GB (SM-G988BZADSER)',
      currentCost: '95 000 ₽',
      oldCost: '',
      starsNumber: '4',
      reviewsNumber: '5 отзывов',
      delivery: 'Доставка по всему миру',
      isLike: false,
      isCharted: false,
      isHint: false,
      isOutOfStock: false
    },

    {
      image: `${pathContentImg}photo-3.png`,
      alt: 'фото Планшет Apple iPad Air (2020) 256GB White (MYFT2RU/A)',
      name: 'Планшет Apple iPad Air (2020) 256GB White (MYFT2RU/A)',
      currentCost: '',
      oldCost: '',
      starsNumber: '5',
      reviewsNumber: '14 отзывов',
      delivery: 'Бесплатная доставка Расширенная гарантия AppleCare',
      isLike: false,
      isCharted: true,
      isHint: false,
      isOutOfStock: true
    },

    {
      image: `${pathContentImg}photo-2.png`,
      alt: 'фото Ноутбук Apple MacBook Pro 16 TB i9 2.3/16GB/1024GB SSD',
      name: 'Ноутбук Apple MacBook Pro 16 TB i9 2.3/16GB/1024GB SSD',
      currentCost: '239 000 ₽',
      oldCost: '',
      starsNumber: '4',
      reviewsNumber: '32 отзыва',
      delivery: 'Бесплатная доставка по России 2 года гарантии',
      isLike: true,
      isCharted: true,
      isHint: true,
      hintInstallments: 'РАССРОЧКА 0-0-24',
      isOutOfStock: false
    },

    {
      image: `${pathContentImg}photo-1.png`,
      alt: 'фото Ноутбук ASUS ZenBook Duo 14 UX482EG-HY010T',
      name: 'Ноутбук ASUS ZenBook Duo 14 UX482EG-HY010T',
      currentCost: '95 000 ₽',
      oldCost: '',
      starsNumber: '4',
      reviewsNumber: '5 отзывов',
      delivery: 'Бесплатная доставка',
      isLike: false,
      isCharted: true,
      isHint: true,
      hintDiscount: 'скидка 20%',
      isOutOfStock: false
    },

  ]
