section.page-catalog__catalog.catalog
      h2.visually-hidden Каталог товаров
      h2.catalog__title Электроника
      ul.catalog__list
        li.catalog__item.card
          img.card__image(src=`${pathContentImg}photo-15.png` width="280px" height="300px" alt='фото Ноутбук ASUS ZenBook Duo 14 UX482EG-HY010T')
          p.card__hint.card__hint--discount скидка 20%
          a.card__link Ноутбук ASUS ZenBook Duo 14 UX482EG-HY010T
          .card__cost.cost
            p.cost__current 144 000 ₽
            p.cost__old 172 800 ₽
          .card__reviews-and-score.reviews-and-score
            .reviews-and-score__stars
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" aria-hidden="true" width="11px" height="11px" stroke-width='1' stroke=#5236FF fill='none'  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
            p.reviews-and-score__score 4
            p.reviews-and-score__reviews 132 отзыва
          .card__delivery Бесплатная доставка по России 2 года гарантии
          .card__actions.card-actions
            button.card-actions__button.button(type="button") В корзину
            a.card-actions__button.like-button
              span.visually-hidden Добавить в избранное
              .
                <svg class="like-button__img" viewBox="0 0 21 18" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M18.535 2.415a5.014 5.014 0 00-1.622-1.047 5.155 5.155 0 00-3.828 0 5.014 5.014 0 00-1.622 1.047l-.963.93-.964-.93A5.093 5.093 0 006 1a5.093 5.093 0 00-3.535 1.415A4.745 4.745 0 001 5.828c0 1.28.527 2.509 1.465 3.414L10.5 17l8.035-7.758a4.82 4.82 0 001.084-1.566 4.682 4.682 0 000-3.695 4.819 4.819 0 00-1.084-1.566z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            a.card-actions__button.chart-button.chart-button--active
              span.visually-hidden Добавить в сравнение
              .
                <svg class="chart-button__img chart-button__img--active" viewBox="0 0 17 20" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M11 19V8m5 11V4M6 19V1M1 19v-7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        li.catalog__item.card
          img.card__image(src=`${pathContentImg}photo-14.png` width="280px" height="300px" alt='фото Смартфон Huawei Mate Xs Interstellar Blue (TAH-N29M)')
          p.card__hint.card__hint--hit Хит продаж
          a.card__link Смартфон Huawei Mate Xs Interstellar Blue (TAH-N29M)
          .card__cost.cost
            p.cost__current 85 000 ₽
            p.cost__old.cost__old--empty 123
          .card__reviews-and-score.reviews-and-score
            .reviews-and-score__stars
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" aria-hidden="true" width="11px" height="11px" stroke-width='1' stroke=#5236FF fill='none'  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
            p.reviews-and-score__score 4
            p.reviews-and-score__reviews 12 отзывов
          .card__delivery Доставка по всему миру 1 год гарантии
          .card__actions.card-actions
            button.card-actions__button.button(type="button") В корзину
            a.card-actions__button.like-button
              span.visually-hidden Добавить в избранное
              .
                <svg class="like-button__img" viewBox="0 0 21 18" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M18.535 2.415a5.014 5.014 0 00-1.622-1.047 5.155 5.155 0 00-3.828 0 5.014 5.014 0 00-1.622 1.047l-.963.93-.964-.93A5.093 5.093 0 006 1a5.093 5.093 0 00-3.535 1.415A4.745 4.745 0 001 5.828c0 1.28.527 2.509 1.465 3.414L10.5 17l8.035-7.758a4.82 4.82 0 001.084-1.566 4.682 4.682 0 000-3.695 4.819 4.819 0 00-1.084-1.566z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            a.card-actions__button.chart-button
              span.visually-hidden Добавить в сравнение
              .
                <svg class="chart-button__img" viewBox="0 0 17 20" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M11 19V8m5 11V4M6 19V1M1 19v-7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        li.catalog__item.card
          img.card__image(src=`${pathContentImg}photo-13.png` width="280px" height="300px" alt='фото Моноблок Apple iMac 24 M1/8/256 Purple (MGPM3RU/A)')
          p.card__hint.card__hint--installments РАССРОЧКА 0-0-24
          a.card__link Моноблок Apple iMac 24 M1/8/256 Purple (MGPM3RU/A)
          .card__cost.cost
            p.cost__current 149 000 ₽
            p.cost__old.cost__old--empty
          .card__reviews-and-score.reviews-and-score
            .reviews-and-score__stars
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
            p.reviews-and-score__score 5
            p.reviews-and-score__reviews 24 отзыва
          .card__delivery Бесплатная доставка Расширенная гарантия AppleCare
          .card__actions.card-actions
            button.card-actions__button.button(type="button") В корзину
            a.card-actions__button.like-button.like-button--active
              span.visually-hidden Добавить в избранное
              .
                <svg class="like-button__img like-button__img--active" viewBox="0 0 21 18" width="19px" height="16px" stroke=#5236FF fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M18.535 2.415a5.014 5.014 0 00-1.622-1.047 5.155 5.155 0 00-3.828 0 5.014 5.014 0 00-1.622 1.047l-.963.93-.964-.93A5.093 5.093 0 006 1a5.093 5.093 0 00-3.535 1.415A4.745 4.745 0 001 5.828c0 1.28.527 2.509 1.465 3.414L10.5 17l8.035-7.758a4.82 4.82 0 001.084-1.566 4.682 4.682 0 000-3.695 4.819 4.819 0 00-1.084-1.566z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            a.card-actions__button.chart-button
              span.visually-hidden Добавить в сравнение
              .
                <svg class="chart-button__img" viewBox="0 0 17 20" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M11 19V8m5 11V4M6 19V1M1 19v-7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        li.catalog__item.card
          img.card__image(src=`${pathContentImg}photo-12.png` width="280px" height="300px" alt='фото LED Телевизор Full HD LG 43LP50006LA')
          p.card__hint
          a.card__link LED Телевизор Full HD LG 43LP50006LA
          .card__cost.cost
            p.cost__current 45 990 ₽
            p.cost__old.cost__old--empty
          .card__reviews-and-score.reviews-and-score
            .reviews-and-score__stars
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" aria-hidden="true" width="11px" height="11px" stroke-width='1' stroke=#5236FF fill='none'  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
            p.reviews-and-score__score 4
            p.reviews-and-score__reviews 26 отзывов
          .card__delivery Бесплатная доставка 3 года бесплатного обслуживания
          .card__actions.card-actions
            button.card-actions__button.button(type="button") В корзину
            a.card-actions__button.like-button
              span.visually-hidden Добавить в избранное
              .
                <svg class="like-button__img" viewBox="0 0 21 18" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M18.535 2.415a5.014 5.014 0 00-1.622-1.047 5.155 5.155 0 00-3.828 0 5.014 5.014 0 00-1.622 1.047l-.963.93-.964-.93A5.093 5.093 0 006 1a5.093 5.093 0 00-3.535 1.415A4.745 4.745 0 001 5.828c0 1.28.527 2.509 1.465 3.414L10.5 17l8.035-7.758a4.82 4.82 0 001.084-1.566 4.682 4.682 0 000-3.695 4.819 4.819 0 00-1.084-1.566z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            a.card-actions__button.chart-button
              span.visually-hidden Добавить в сравнение
              .
                <svg class="chart-button__img" viewBox="0 0 17 20" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M11 19V8m5 11V4M6 19V1M1 19v-7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        li.catalog__item.catalog__item--last.card
          img.card__image(src=`${pathContentImg}photo-11.png` width="280px" height="300px" alt='фото OLED телевизор 4K Ultra HD Sony KD-55AG9')
          p.card__hint
          a.card__link Ноутбук ASUS ZenBook Duo 14 UX482EG-HY010T
          .card__cost.cost
            p.cost__current 178 000 ₽ ₽
            p.cost__old.cost__old--empty
          .card__reviews-and-score.reviews-and-score
            .reviews-and-score__stars
              .
                <svg class="reviews-and-score__star" aria-hidden="true" width="11px" height="11px" stroke-width='1' stroke=#E6E6F2 fill=#E6E6F2  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
            p.reviews-and-score__score
            p.reviews-and-score__reviews.reviews-and-score__reviews--no-reviews Нет отзывов
          .card__delivery Доставка по всему миру 1 год гарантии
          .card__actions.card-actions
            button.card-actions__button.button(type="button") В корзину
            a.card-actions__button.like-button
              span.visually-hidden Добавить в избранное
              .
                <svg class="like-button__img" viewBox="0 0 21 18" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M18.535 2.415a5.014 5.014 0 00-1.622-1.047 5.155 5.155 0 00-3.828 0 5.014 5.014 0 00-1.622 1.047l-.963.93-.964-.93A5.093 5.093 0 006 1a5.093 5.093 0 00-3.535 1.415A4.745 4.745 0 001 5.828c0 1.28.527 2.509 1.465 3.414L10.5 17l8.035-7.758a4.82 4.82 0 001.084-1.566 4.682 4.682 0 000-3.695 4.819 4.819 0 00-1.084-1.566z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            a.card-actions__button.chart-button
              span.visually-hidden Добавить в сравнение
              .
                <svg class="chart-button__img chart-button__img--active" viewBox="0 0 17 20" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M11 19V8m5 11V4M6 19V1M1 19v-7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        li.catalog__item.card
          img.card__image(src=`${pathContentImg}photo-10.png` width="280px" height="300px" alt='фото Смарт-часы Apple Watch Series 5 38mm (MTEY2RU/A)')
          p.card__hint
          a.card__link Смарт-часы Apple Watch Series 5 38mm (MTEY2RU/A)
          .card__cost.cost
            p.cost__current 34 000 ₽
            p.cost__old.cost__old--empty
          .card__reviews-and-score.reviews-and-score
            .reviews-and-score__stars
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" aria-hidden="true" width="11px" height="11px" stroke-width='1' stroke=#5236FF fill='none'  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
            p.reviews-and-score__score 4
            p.reviews-and-score__reviews 7 отзывов
          .card__delivery Бесплатная доставка по России 1 год гарантии
          .card__actions.card-actions
            button.card-actions__button.button(type="button") В корзину
            a.card-actions__button.like-button
              span.visually-hidden Добавить в избранное
              .
                <svg class="like-button__img" viewBox="0 0 21 18" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M18.535 2.415a5.014 5.014 0 00-1.622-1.047 5.155 5.155 0 00-3.828 0 5.014 5.014 0 00-1.622 1.047l-.963.93-.964-.93A5.093 5.093 0 006 1a5.093 5.093 0 00-3.535 1.415A4.745 4.745 0 001 5.828c0 1.28.527 2.509 1.465 3.414L10.5 17l8.035-7.758a4.82 4.82 0 001.084-1.566 4.682 4.682 0 000-3.695 4.819 4.819 0 00-1.084-1.566z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            a.card-actions__button.chart-button
              span.visually-hidden Добавить в сравнение
              .
                <svg class="chart-button__img" viewBox="0 0 17 20" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M11 19V8m5 11V4M6 19V1M1 19v-7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        li.catalog__item.card
          img.card__image(src=`${pathContentImg}photo-9.png` width="280px" height="300px" alt='фото Ноутбук ASUS ZenBook Duo 14 UX482EG-HY010T')
          p.card__hint
          a.card__link Смарт-часы Apple Watch SE 40mm White (MYDM2RU/A)
          .card__cost.cost
            p.cost__current 25 000 ₽
            p.cost__old.cost__old--empty
          .card__reviews-and-score.reviews-and-score
            .reviews-and-score__stars
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
            p.reviews-and-score__score 5
            p.reviews-and-score__reviews 132 отзыва
          .card__delivery Бесплатная доставка Расширенная гарантия AppleCare
          .card__actions.card-actions
            button.card-actions__button.button(type="button") В корзину
            a.card-actions__button.like-button
              span.visually-hidden Добавить в избранное
              .
                <svg class="like-button__img" viewBox="0 0 21 18" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M18.535 2.415a5.014 5.014 0 00-1.622-1.047 5.155 5.155 0 00-3.828 0 5.014 5.014 0 00-1.622 1.047l-.963.93-.964-.93A5.093 5.093 0 006 1a5.093 5.093 0 00-3.535 1.415A4.745 4.745 0 001 5.828c0 1.28.527 2.509 1.465 3.414L10.5 17l8.035-7.758a4.82 4.82 0 001.084-1.566 4.682 4.682 0 000-3.695 4.819 4.819 0 00-1.084-1.566z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            a.card-actions__button.chart-button
              span.visually-hidden Добавить в сравнение
              .
                <svg class="chart-button__img" viewBox="0 0 17 20" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M11 19V8m5 11V4M6 19V1M1 19v-7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        li.catalog__item.card
          img.card__image(src=`${pathContentImg}photo-8.png` width="280px" height="300px" alt='фото Моноблок Apple iMac 24 M1/8/256 Yellow (MGPM3RU/A)')
          p.card__hint.card__hint--installments РАССРОЧКА 0-0-24
          a.card__link Моноблок Apple iMac 24 M1/8/256 Yellow (MGPM3RU/A)
          .card__cost.cost
            p.cost__current 149 000 ₽
            p.cost__old.cost__old--empty
          .card__reviews-and-score.reviews-and-score
            .reviews-and-score__stars
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
            p.reviews-and-score__score 5
            p.reviews-and-score__reviews 12 отзывов
          .card__delivery Бесплатная доставка Расширенная гарантия AppleCare
          .card__actions.card-actions
            button.card-actions__button.button(type="button") В корзину
            a.card-actions__button.like-button.like-button--active
              span.visually-hidden Добавить в избранное
              .
                <svg class="like-button__img like-button__img--active" viewBox="0 0 21 18" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M18.535 2.415a5.014 5.014 0 00-1.622-1.047 5.155 5.155 0 00-3.828 0 5.014 5.014 0 00-1.622 1.047l-.963.93-.964-.93A5.093 5.093 0 006 1a5.093 5.093 0 00-3.535 1.415A4.745 4.745 0 001 5.828c0 1.28.527 2.509 1.465 3.414L10.5 17l8.035-7.758a4.82 4.82 0 001.084-1.566 4.682 4.682 0 000-3.695 4.819 4.819 0 00-1.084-1.566z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            a.card-actions__button.chart-button
              span.visually-hidden Добавить в сравнение
              .
                <svg class="chart-button__img chart-button__img--active" viewBox="0 0 17 20" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M11 19V8m5 11V4M6 19V1M1 19v-7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        li.catalog__item.card
          img.card__image(src=`${pathContentImg}photo-7.png` width="280px" height="300px" alt='фото Смарт браслет Samsung Galaxy Fit 2 White (SM-R220NZKACIS)')
          p.card__hint.card__hint--hit ХИТ ПРОДАЖ
          a.card__link Смарт браслет Samsung Galaxy Fit 2 White (SM-R220NZKACIS)
          .card__cost.cost
            p.cost__current 2 800 ₽
            p.cost__old.cost__old--empty
          .card__reviews-and-score.reviews-and-score
            .reviews-and-score__stars
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" aria-hidden="true" width="11px" height="11px" stroke-width='1' stroke=#5236FF fill='none'  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
            p.reviews-and-score__score 4
            p.reviews-and-score__reviews 164 отзыва
          .card__delivery Бесплатная доставка
          .card__actions.card-actions
            button.card-actions__button.button(type="button") В корзину
            a.card-actions__button.like-button
              span.visually-hidden Добавить в избранное
              .
                <svg class="like-button__img " viewBox="0 0 21 18" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M18.535 2.415a5.014 5.014 0 00-1.622-1.047 5.155 5.155 0 00-3.828 0 5.014 5.014 0 00-1.622 1.047l-.963.93-.964-.93A5.093 5.093 0 006 1a5.093 5.093 0 00-3.535 1.415A4.745 4.745 0 001 5.828c0 1.28.527 2.509 1.465 3.414L10.5 17l8.035-7.758a4.82 4.82 0 001.084-1.566 4.682 4.682 0 000-3.695 4.819 4.819 0 00-1.084-1.566z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            a.card-actions__button.chart-button.chart-button--active
              span.visually-hidden Добавить в сравнение
              .
                <svg class="chart-button__img chart-button__img--active" viewBox="0 0 17 20" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M11 19V8m5 11V4M6 19V1M1 19v-7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        li.catalog__item.catalog__item--last.card
          img.card__image(src=`${pathContentImg}photo-6.png` width="280px" height="300px" alt='фото Планшет Apple iPad Pro 11 (2020) 128 GB Space Grey (MY2V2RU/A)')
          p.card__hint
          a.card__link Планшет Apple iPad Pro 11 (2020) 128 GB Space Grey (MY2V2RU/A)
          .card__cost.cost
            p.cost__current 72 000 ₽
            p.cost__old.cost__old--empty
          .card__reviews-and-score.reviews-and-score
            .reviews-and-score__stars
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" aria-hidden="true" width="11px" height="11px" stroke-width='1' stroke=#5236FF fill='none'  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
            p.reviews-and-score__score 4
            p.reviews-and-score__reviews 22 отзыва
          .card__delivery Бесплатная доставка
          .card__actions.card-actions
            button.card-actions__button.button(type="button") В корзину
            a.card-actions__button.like-button
              span.visually-hidden Добавить в избранное
              .
                <svg class="like-button__img like-button__img--active" viewBox="0 0 21 18" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M18.535 2.415a5.014 5.014 0 00-1.622-1.047 5.155 5.155 0 00-3.828 0 5.014 5.014 0 00-1.622 1.047l-.963.93-.964-.93A5.093 5.093 0 006 1a5.093 5.093 0 00-3.535 1.415A4.745 4.745 0 001 5.828c0 1.28.527 2.509 1.465 3.414L10.5 17l8.035-7.758a4.82 4.82 0 001.084-1.566 4.682 4.682 0 000-3.695 4.819 4.819 0 00-1.084-1.566z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            a.card-actions__button.chart-button
              span.visually-hidden Добавить в сравнение
              .
                <svg class="chart-button__img" viewBox="0 0 17 20" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M11 19V8m5 11V4M6 19V1M1 19v-7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        li.catalog__item.card
          img.card__image(src=`${pathContentImg}photo-5.png` width="280px" height="300px" alt='фото Беспроводные наушники Apple AirPods 2 White (MRXJ2RU/A)')
          p.card__hint.card__hint--discount Скидка 30%
          a.card__link Беспроводные наушники Apple AirPods 2 White (MRXJ2RU/A)
          .card__cost.cost
            p.cost__current 11 000 ₽
            p.cost__old 14 300 ₽
          .card__reviews-and-score.reviews-and-score
            .reviews-and-score__stars
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" aria-hidden="true" width="11px" height="11px" stroke-width='1' stroke=#5236FF fill='none'  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
            p.reviews-and-score__score 4
            p.reviews-and-score__reviews 18 отзывов
          .card__delivery Бесплатная доставка по России
          .card__actions.card-actions
            button.card-actions__button.button(type="button") В корзину
            a.card-actions__button.like-button
              span.visually-hidden Добавить в избранное
              .
                <svg class="like-button__img" viewBox="0 0 21 18" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M18.535 2.415a5.014 5.014 0 00-1.622-1.047 5.155 5.155 0 00-3.828 0 5.014 5.014 0 00-1.622 1.047l-.963.93-.964-.93A5.093 5.093 0 006 1a5.093 5.093 0 00-3.535 1.415A4.745 4.745 0 001 5.828c0 1.28.527 2.509 1.465 3.414L10.5 17l8.035-7.758a4.82 4.82 0 001.084-1.566 4.682 4.682 0 000-3.695 4.819 4.819 0 00-1.084-1.566z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            a.card-actions__button.chart-button
              span.visually-hidden Добавить в сравнение
              .
                <svg class="chart-button__img" viewBox="0 0 17 20" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M11 19V8m5 11V4M6 19V1M1 19v-7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        li.catalog__item.card
          img.card__image(src=`${pathContentImg}photo-4.png` width="280px" height="300px" alt='фото Смартфон Samsung Galaxy S20 Ultra 12/128GB (SM-G988BZADSER)')
          p.card__hint
          a.card__link Смартфон Samsung Galaxy S20 Ultra 12/128GB (SM-G988BZADSER)
          .card__cost.cost
            p.cost__current 95 000 ₽
            p.cost__old.cost__old--empty
          .card__reviews-and-score.reviews-and-score
            .reviews-and-score__stars
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" aria-hidden="true" width="11px" height="11px" stroke-width='1' stroke=#5236FF fill='none'  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
            p.reviews-and-score__score 4
            p.reviews-and-score__reviews 5 отзывов
          .card__delivery Доставка по всему миру
          .card__actions.card-actions
            button.card-actions__button.button(type="button") В корзину
            a.card-actions__button.like-button
              span.visually-hidden Добавить в избранное
              .
                <svg class="like-button__img" viewBox="0 0 21 18" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M18.535 2.415a5.014 5.014 0 00-1.622-1.047 5.155 5.155 0 00-3.828 0 5.014 5.014 0 00-1.622 1.047l-.963.93-.964-.93A5.093 5.093 0 006 1a5.093 5.093 0 00-3.535 1.415A4.745 4.745 0 001 5.828c0 1.28.527 2.509 1.465 3.414L10.5 17l8.035-7.758a4.82 4.82 0 001.084-1.566 4.682 4.682 0 000-3.695 4.819 4.819 0 00-1.084-1.566z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            a.card-actions__button.chart-button
              span.visually-hidden Добавить в сравнение
              .
                <svg class="chart-button__img" viewBox="0 0 17 20" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M11 19V8m5 11V4M6 19V1M1 19v-7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        li.catalog__item.card
          img.card__image(src=`${pathContentImg}photo-3.png` width="280px" height="300px" alt='фото Планшет Apple iPad Air (2020) 256GB White (MYFT2RU/A)')
          p.card__hint.card__hint--out-of-stock нет в наличии
          a.card__link.card__link--out-of-stock Планшет Apple iPad Air (2020) 256GB White (MYFT2RU/A)
          .card__cost.cost.cost--out-of-stock
            p.cost__current.cost__current--out-of-stock
            p.cost__old.cost__old--out-of-stock
          .card__reviews-and-score.reviews-and-score
            .reviews-and-score__stars
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
            p.reviews-and-score__score 5
            p.reviews-and-score__reviews 14 отзывов
          .card__delivery Бесплатная доставка Расширенная гарантия AppleCare
          .card__actions.card-actions
            button.card-actions__button.button.button--out-of-stock(type="button") В корзину
            a.card-actions__button.like-button
              span.visually-hidden Добавить в избранное
              .
                <svg class="like-button__img" viewBox="0 0 21 18" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M18.535 2.415a5.014 5.014 0 00-1.622-1.047 5.155 5.155 0 00-3.828 0 5.014 5.014 0 00-1.622 1.047l-.963.93-.964-.93A5.093 5.093 0 006 1a5.093 5.093 0 00-3.535 1.415A4.745 4.745 0 001 5.828c0 1.28.527 2.509 1.465 3.414L10.5 17l8.035-7.758a4.82 4.82 0 001.084-1.566 4.682 4.682 0 000-3.695 4.819 4.819 0 00-1.084-1.566z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            a.card-actions__button.chart-button.chart-button--active
              span.visually-hidden Добавить в сравнение
              .
                <svg class="chart-button__img chart-button__img--active" viewBox="0 0 17 20" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M11 19V8m5 11V4M6 19V1M1 19v-7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        li.catalog__item.card
          img.card__image(src=`${pathContentImg}photo-2.png` width="280px" height="300px" alt='фото Ноутбук Apple MacBook Pro 16 TB i9 2.3/16GB/1024GB SSD')
          p.card__hint.card__hint--installments РАССРОЧКА 0-0-24
          a.card__link Ноутбук Apple MacBook Pro 16 TB i9 2.3/16GB/1024GB SSD
          .card__cost.cost
            p.cost__current 239 000 ₽
            p.cost__old.cost__old--empty
          .card__reviews-and-score.reviews-and-score
            .reviews-and-score__stars
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" aria-hidden="true" width="11px" height="11px" stroke-width='1' stroke=#5236FF fill='none'  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
            p.reviews-and-score__score 4
            p.reviews-and-score__reviews 32 отзыва
          .card__delivery Бесплатная доставка по России 2 года гарантии
          .card__actions.card-actions
            button.card-actions__button.button(type="button") В корзину
            a.card-actions__button.like-button.like-button--active
              span.visually-hidden Добавить в избранное
              .
                <svg class="like-button__img like-button__img--active" viewBox="0 0 21 18" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M18.535 2.415a5.014 5.014 0 00-1.622-1.047 5.155 5.155 0 00-3.828 0 5.014 5.014 0 00-1.622 1.047l-.963.93-.964-.93A5.093 5.093 0 006 1a5.093 5.093 0 00-3.535 1.415A4.745 4.745 0 001 5.828c0 1.28.527 2.509 1.465 3.414L10.5 17l8.035-7.758a4.82 4.82 0 001.084-1.566 4.682 4.682 0 000-3.695 4.819 4.819 0 00-1.084-1.566z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            a.card-actions__button.chart-button.chart-button--active
              span.visually-hidden Добавить в сравнение
              .
                <svg class="chart-button__img chart-button__img--active" viewBox="0 0 17 20" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M11 19V8m5 11V4M6 19V1M1 19v-7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
        li.catalog__item.catalog__item--last.card
          img.card__image(src=`${pathContentImg}photo-1.png` width="280px" height="300px" alt='фото Ноутбук ASUS ZenBook Duo 14 UX482EG-HY010T')
          p.card__hint
          a.card__link Смартфон Apple iPhone 12 Pro 128GB Pacific Blue (MGMN3RU/A)
          .card__cost.cost
            p.cost__current 95 000 ₽
            p.cost__old.cost__old--empty
          .card__reviews-and-score.reviews-and-score
            .reviews-and-score__stars
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
              .
                <svg class="reviews-and-score__star" aria-hidden="true" width="11px" height="11px" stroke-width='1' stroke=#5236FF fill='none'  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
            p.reviews-and-score__score 4
            p.reviews-and-score__reviews 5 отзывов
          .card__delivery Бесплатная доставка
          .card__actions.card-actions
            button.card-actions__button.button(type="button") В корзину
            a.card-actions__button.like-button
              span.visually-hidden Добавить в избранное
              .
                <svg class="like-button__img" viewBox="0 0 21 18" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M18.535 2.415a5.014 5.014 0 00-1.622-1.047 5.155 5.155 0 00-3.828 0 5.014 5.014 0 00-1.622 1.047l-.963.93-.964-.93A5.093 5.093 0 006 1a5.093 5.093 0 00-3.535 1.415A4.745 4.745 0 001 5.828c0 1.28.527 2.509 1.465 3.414L10.5 17l8.035-7.758a4.82 4.82 0 001.084-1.566 4.682 4.682 0 000-3.695 4.819 4.819 0 00-1.084-1.566z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
            a.card-actions__button.chart-button
              span.visually-hidden Добавить в сравнение
              .
                <svg class="chart-button__img" viewBox="0 0 17 20" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M11 19V8m5 11V4M6 19V1M1 19v-7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
