include catalog-data

section.page-catalog__catalog.catalog
  h2.visually-hidden Каталог товаров
  h2.catalog__title Электроника
  ul.catalog__list
    each product in products
      li.catalog__item.card
        img.card__image(src= product.image width="280px" height="300px" alt= product.alt)

        if !product.isHint
          p.card__hint
        else
          if product.hintDiscount
            p.card__hint.card__hint--discount= product.hintDiscount
          else if product.hintHit
            p.card__hint.card__hint--hit= product.hintHit
          else if product.hintInstallments
            p.card__hint.card__hint--installments= product.hintInstallments
          else if product.isOutOfStock
            p.card__hint.card__hint--out-of-stock нет в наличии

        if !product.isOutOfStock
          a.card__link= product.name
          .card__cost.cost
            p.cost__current= product.currentCost
            if product.oldCost
              p.cost__old= product.oldCost
            else
              p.cost__old.cost__old--empty
        else
          a.card__link.card__link--out-of-stock= product.name

        .card__reviews-and-score.reviews-and-score
          .reviews-and-score__stars
            if product.starsNumber > '0'
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
            else
              .
                <svg class="reviews-and-score__star" aria-hidden="true" width="11px" height="11px" stroke-width='1' stroke=#5236FF fill='none'  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>

            if product.starsNumber > '1'
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
            else
              .
                <svg class="reviews-and-score__star" aria-hidden="true" width="11px" height="11px" stroke-width='1' stroke=#5236FF fill='none'  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>

            if product.starsNumber > '2'
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
            else
              .
                <svg class="reviews-and-score__star" aria-hidden="true" width="11px" height="11px" stroke-width='1' stroke=#5236FF fill='none'  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>

            if product.starsNumber > '3'
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
            else
              .
                <svg class="reviews-and-score__star" aria-hidden="true" width="11px" height="11px" stroke-width='1' stroke=#5236FF fill='none'  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>

            if product.starsNumber > '4'
              .
                <svg class="reviews-and-score__star" width="11px" height="11px" fill=#5236FF stroke=5236FF aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>
            else
              .
                <svg class="reviews-and-score__star" aria-hidden="true" width="11px" height="11px" stroke-width='1' stroke=#5236FF fill='none'  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M7 11.252L11.326 14l-1.148-5.18L14 5.335l-5.033-.457L7 0 5.033 4.878 0 5.335 3.815 8.82 2.674 14 7 11.252z"/></svg>


          p.reviews-and-score__score= product.starsNumber
          p.reviews-and-score__reviews= product.reviewsNumber
        .card__delivery= product.delivery
        .card__actions.card-actions
          button.card-actions__button.button(type="button") В корзину
          if !product.isLike
            a.card-actions__button.like-button
              span.visually-hidden Добавить в избранное
              .
                <svg class="like-button__img" viewBox="0 0 21 18" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M18.535 2.415a5.014 5.014 0 00-1.622-1.047 5.155 5.155 0 00-3.828 0 5.014 5.014 0 00-1.622 1.047l-.963.93-.964-.93A5.093 5.093 0 006 1a5.093 5.093 0 00-3.535 1.415A4.745 4.745 0 001 5.828c0 1.28.527 2.509 1.465 3.414L10.5 17l8.035-7.758a4.82 4.82 0 001.084-1.566 4.682 4.682 0 000-3.695 4.819 4.819 0 00-1.084-1.566z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
          else
            a.card-actions__button.like-button.like-button--active
              span.visually-hidden Добавить в избранное
              .
                <svg class="like-button__img like-button__img--active" viewBox="0 0 21 18" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M18.535 2.415a5.014 5.014 0 00-1.622-1.047 5.155 5.155 0 00-3.828 0 5.014 5.014 0 00-1.622 1.047l-.963.93-.964-.93A5.093 5.093 0 006 1a5.093 5.093 0 00-3.535 1.415A4.745 4.745 0 001 5.828c0 1.28.527 2.509 1.465 3.414L10.5 17l8.035-7.758a4.82 4.82 0 001.084-1.566 4.682 4.682 0 000-3.695 4.819 4.819 0 00-1.084-1.566z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>

          if product.isCharted
            a.card-actions__button.chart-button.chart-button--active
              span.visually-hidden Добавить в сравнение
              .
                <svg class="chart-button__img chart-button__img--active" viewBox="0 0 17 20" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M11 19V8m5 11V4M6 19V1M1 19v-7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
          else
            a.card-actions__button.chart-button
              span.visually-hidden Добавить в сравнение
              .
                <svg class="chart-button__img" viewBox="0 0 17 20" width="19px" height="16px" stroke=#B8B8CC fill='none' xmlns="http://www.w3.org/2000/svg"><path d="M11 19V8m5 11V4M6 19V1M1 19v-7" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>

